<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <style>
        table
        {
            border-spacing : 0;
            border-collapse : collapse;

        }
        table tr td{
            border: solid black 2px;
            padding: 5px;
        }
        table tr th{
            border: solid black 2px;
        }
    </style>
    <title>{% block title %}Financial Movements{% endblock %}</title>
</head>
<body>
<h1>
    Financial Movements
</h1>

<p>
    <a href="{{ path('home') }}">Retour</a>
</p>

<table>
    <thead>
        <th>identifier</th>
        <th>bookingDate</th>
        <th>valueDate </th>
        <th>walletId</th>
        <th>amount </th>
        <th>description </th>
    </thead>
    {% for financialMovement in financialMovements %}

        <tr>
            <td>{{ financialMovement.id }}</td>
            <td>{{ financialMovement.bookingDate }}</td>
            <td>{{ financialMovement.valueDate }}</td>
            <td>{{ financialMovement.walletId }}</td>
            <td>
                {{ financialMovement.amount.value }} &nbsp; {{ financialMovement.amount.currency }}
            </td>
            <td>{{ financialMovement.description}}</td>
        </tr>

    {% endfor %}
</table>


</body>
</html>
